{% extends 'base.html.twig' %}

{% block title %}
Inscription - webOtek - La grande bibliothèque en ligne
{% endblock %}

{% block body %}
<div class="container connection text-center">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            {{ form_start(registerForm) }}
            {{ form_row(registerForm.firstName, {'label': 'Nom'}) }}
            {{ form_row(registerForm.lastName, {'label': 'Prénom'}) }}
            {{ form_row(registerForm.pseudo, {'label': 'Pseudo'}) }}
            {{ form_row(registerForm.email, {'label': 'Email'}) }}
            {{ form_row(registerForm.password, {'label': 'Mot de passe'}) }}
            <button type="submit" class="btn btn-success">Valider</button>
            {{ form_end(registerForm) }}

        </div>
    </div>
</div>
{% endblock %}