<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Bertrand Bourion">
    <meta name="keywords" content="Librairie, bibliothèque, forum, discussion"/>
    <!-- OPEN GRAPHS -->
    <meta property="og:title" content="webOtek - La grande bibliothèque en ligne"/>
    <meta property="og:type" content="Librairie"/>
    <meta property="og:url" content="http://www.webotek.yourwebangency.fr">
    <!-- TWITTER CARDS -->
    <meta name="twitter:card" content="summary"/>
    <meta name=”twitter:site” content="http://www.webotek.yourwebagency.fr"/>
    <meta name="twitter:title" content="Librairie"/>
    <meta name="twitter:description" content="webOtek - La grande bibliothèque en ligne"/>

    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <!-- Font Awesome Icons -->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    {% block stylesheets %}
        <link href="{{ asset(('css/creative.min.css')) }}" rel="stylesheet">
        <link href="{{ asset(('css/style.css')) }}" rel="stylesheet">
    {% endblock %}
</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('app_home') }}">
            <h1 id="main-title" class="mb-md-n1 text-primary">web<span class="text-lg-light text-secondary">O</span>tek
            </h1>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-danger ml-lg-5" href="{{ path('app_forum_reported_comments') }}">Messages signalés
                ({{ reported.getTotalItemCount }})</a>
        {% endif %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                {% block home_link %}{% endblock %}
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('app_sign_in') }}">Inscription</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('app_forums') }}">Forums</a>
                </li>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% for message in app.flashes('success') %}
    <div class="alert alert-success mb-n3 mx-auto" id="message-flash">
        {{ message }}
    </div>
{% endfor %}

{% block body %}{% endblock %}

<!-- Footer -->
<footer class="bg-light py-5">

    <div class="container">
        <div class="small text-center text-muted">Copyright &copy; 2020 - webOtek - Tous droits réservés.
            <span class="ml-2"><a href="{{ path('app_legals') }}">Mentions légales</a></span>
        </div>
    </div>

    <div class="container text-center mt-5">
        <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                     src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                     alt="CSS Valide !"/>
            </a>
        </p>
    </div>
</footer>

{% block javascripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js') }}">
    </script>

    <!-- Custom scripts for this template -->
    <script src="{{ asset('js/creative.min.js') }}"></script>
    <script src="{{ asset('js/Display.js') }}"></script>
    <script src="{{ asset('js/AjaxGet.js') }}"></script>
    <script src="{{ asset('js/App.js') }}"></script>
{% endblock %}

</body>

</html>