{% extends "base.html.twig" %}

{% block title %}
Liste des livres - webOtek - La grande bibliothèque en ligne
{% endblock %}

{% block body %}

<section id="books">
    <h2 class="mb-5 text-color-red">Liste des livres</h2>
    {% for book in books %}

    <h3>{{ book.title }}</h3>
    <h4>{{ book.author }}</h4>
    <img src="{{ book.img }}" alt="Couverture du livre {{ book.title }}">
    <p>{{ book.description }}</p>

    {% endfor %}
</section>

{% endblock %}