{% extends "base.html.twig" %}

{% block title %}
Forum - webOtek - La grande bibliothèque en ligne
{% endblock %}

{% block body %}
<h2 class="forum-title">Sujet de discussion : {{ forum.topic }}</h2>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-10">
            {% for comment in comments %}
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{{ comment.author }}<em class="ml-2">le
                                {{ comment.creationDate | date('d/m/Y à H:m:s') }}</em></th>
                        <th scope="col" class="text-center" id="report"><a href="#" class="text-danger">Signaler</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">{{ comment.content }}</td>
                    </tr>
                </tbody>
            </table>

            {% endfor %}

            <div class="pagination justify-content-center mt-4 mb-5">
                {{ knp_pagination_render(comments) }}
            </div>

            <div class="col-md-8 mx-auto">
                <h3 class="text-center">Participer à la discussion</h3>
                {{ form_start(comment_form) }}
                {{ form_row(comment_form.content, {'label': 'Message'}) }}
                <button type="submit" class="btn btn-success">Valider</button>
                {{ form_end(comment_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}